@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins";

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
}

#projects {
  background-color: white;
  background-image: conic-gradient(
    from 90deg at -10% 100%,
    #bcc1cd 0deg,
    #bcc1cd 90deg,
    #fff 1turn
  );
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  min-height: 693px;

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
  }

  h2 {
    display: block;
    // max-width: 90%;
    text-align: center;
    font-size: 2.7rem;
    letter-spacing: 1px;
    font-family: $secondary;
    font-weight: 600;
  }

  h3 {
    font-size: 2rem;
    text-align: center;
    font-family: $secondary;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
    z-index: 1;

    &:focus-visible {
      outline: 4px solid #ff21c0;
    }
  }

  .slick-next,
  .slick-prev {
    &::before {
      font-size: 30px;
      width: 30px;
      height: 30px;
      color: black;
    }
  }

  .tag {
    padding: 2px 7px;
    display: inline-block;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-family: $secondary;
  }

  .carousel-container {
    background-color: rgb(248, 248, 248);
    // border-radius: 5rem;
    // padding-block: min(8vh, 5rem);
    padding-block: 2rem;
    border-radius: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d1d9e0;
    background: #e6cdfb;
    // background: linear-gradient(
    //   145deg,
    //   rgb(240, 221, 255) 0%,
    //   rgb(206, 244, 255) 55%,
    //   rgb(227, 255, 192) 100%
    // );

    .card__article {
      overflow: hidden;
      margin-bottom: 60px;
      position: relative;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    .card__img {
      object-fit: cover;
      border-radius: 1.5rem;
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      height: 400px;
    }

    .card__data {
      width: 350px;
      background-color: var(--container-color);
      padding: 1.5rem 2rem;
      box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
      border-radius: 1rem;
      position: absolute;
      bottom: -9rem;
      left: 25px;
      right: auto;
      margin-inline: auto;
      opacity: 0;
      transition: opacity 1s 1s;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 225px;
      text-align: left;

      div {
        text-align: left;
      }
    }

    .card__description {
      display: block;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0.25rem;
      color: #59636e;
      margin-top: 15px;
      font-family: $secondary;
    }

    .card__title {
      font-size: 20px;
      text-align: left;
      font-weight: 500;
      color: var(--title-color);
      margin-bottom: 5px;
      font-family: $secondary;
      white-space: nowrap;
      white-space: nowrap; /* Prevents text from wrapping to a new line */
      overflow: hidden; /* Hides any overflowing content */
      text-overflow: ellipsis;
    }

    .card__button {
      text-decoration: none;
      font-size: var(--small-font-size);
      font-weight: 500;
      color: black;
      display: inline-block;

      & + .card__button {
        margin-left: 10px;
      }

      &:focus-visible {
        outline: 4px solid #ff21c0;
        outline-offset: 2px;
      }

      &:hover {
        opacity: 0.75;
      }
    }

    /* Naming animations in hover */
    .card__article:hover .card__data,
    .card__article:focus-within .card__data {
      animation: show-data 1s forwards;
      opacity: 1;
      transition: opacity 0.3s;
    }

    .card__article:hover,
    .card__article:focus-within {
      animation: remove-overflow 2s forwards;
    }

    .card__article:not(:hover):not(:focus-within) {
      animation: show-overflow 2s forwards;
    }

    .card__article:not(:hover):not(:focus-within) .card__data {
      animation: remove-data 1s forwards;
    }

    /* Card animation */
    @keyframes show-data {
      50% {
        transform: translateY(-10rem);
      }
      100% {
        transform: translateY(-7rem);
      }
    }

    @keyframes remove-overflow {
      to {
        overflow: initial;
      }
    }

    @keyframes remove-data {
      0% {
        transform: translateY(-7rem);
      }
      50% {
        transform: translateY(-10rem);
      }
      100% {
        transform: translateY(0.5rem);
      }
    }

    @keyframes show-overflow {
      0% {
        overflow: initial;
        pointer-events: none;
      }
      50% {
        overflow: hidden;
      }
    }
  }
}

.dark {
  #projects {
    .slick-prev,
    .slick-next {
      &::before {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  #projects {
    .carousel-container {
      .card__article {
        max-width: 350px;
      }
      .card__img {
        width: 350px;
        height: 350px;
      }

      .card__data {
        width: 330px;
        left: 10px;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  #projects {
    .carousel-container {
      max-width: 1000px;
      padding-left: 10px;
      padding-right: 10px;
      // .card__article {
      //   max-width: 400px;
      // }
      // .card__img {
      //   width: 400px;
      //   height: 400px;
      // }

      // .card__data {
      //   width: 350px;
      //   left: 25px;
      // }

      .slick-prev {
        left: -15px;
      }
      .slick-next {
        right: -15px;
      }
    }
  }
}

// TABLET
@media screen and (max-width: 1040px) {
  #projects {
    .carousel-container {
      max-width: 1000px;
      .card__article {
        max-width: 350px;
      }
      .card__img {
        width: 350px;
        height: 350px;
      }

      .card__data {
        width: 330px;
        left: 10px;
      }

      .slick-prev {
        left: -15px;
      }
      .slick-next {
        right: -15px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  #projects {
    .carousel-container {
      max-width: 600px;
      .card__article {
        max-width: 400px;
      }
      .card__img {
        width: 400px;
        height: 400px;
      }

      .card__data {
        width: 350px;
        left: 25px;
      }
    }
  }
}

// SMARTPHONE
@media screen and (max-width: 660px) {
  #projects {
    h2 {
      font-size: 2rem;
    }
    .carousel-container {
      max-width: 600px;
      .card__article {
        max-width: 280px;
      }
      .card__img {
        width: 280px;
        height: 280px;
      }

      .card__data {
        width: 260px;
        left: 10px;
        padding: 1rem;
        text-wrap: balance;
      }

      .card__description {
        margin-top: 10px;
      }
    }
  }
}
