

// Typography
// $primary: "Roboto", sans-serif;
$primary: "Space Mono", monospace;
$secondary: "Montserrat", sans-serif;

// Palette
$primary-color: #000;
$secondary-color: #fff;


$light-theme: (
  primary: #fff,
  secondary: #000,
);

$dark-theme: (
  primary: #000,
  secondary: #fff,
);
